venv/
__pycache__/
*.pyc
.env
.vscode/
.idea/
build/
dist/
*.spec
*sequences.jsonl
*.sqlite3
*.db
*.bak
gym_ai/chroma_docs/
gym_ai/chroma_entities/
.dart_tool/
.packages
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
*.apk
scratch/